
# =========================
# 이름 검사
# 암묵적 bool 형변환 검사
# 불필요한 값 복사 const 검사
# 성능 저하 검사
# =========================
Checks: >
  readability-identifier-naming,
  readability-implicit-bool-conversion,
  readability-avoid-const-params-in-decls,
  performance-*
HeaderFilterRegex: '.*'
SystemHeaders: false
WarningsAsErrors: true
CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.TypedefCase
    value: CamelCase
  - key: readability-identifier-naming.TypeAliasCase
    value: CamelCase
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.StaticConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ClassConstantCase
    value: UPPER_CASE
